* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: #ffffff;
}

body {
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #ffb923;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffb923;
}

/* navbar */

header nav {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navbar {
  background-color: #ffb923;
  /*menu fixo*/
  position: fixed;

  z-index: 1;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul img {
  width: 4rem;
  margin: 0 10px;
  border-top: 1000px;
}

header nav ul li {
  margin: 0 30px;
  list-style: none;
  text-transform: uppercase;
}

header nav ul li a {
  padding-left: 4px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

header nav ul li :hover {
  transition: all 0.2s;
  border-left: 0px solid transparent;

  border-left: 5px solid #ffffff;
  font-weight: bold;
}

/* Intro */
#intro {
  background-image: url(img/TonDev.png);
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
}

#intro div#geralintro {
  height: 100vh;

  display: flex;
  flex-direction: column;

  color: #ffffff;

  align-items: center;
  justify-content: center;
}

#intro div#geralintro img {
  width: 10rem;
}

#intro div#geralintro h1 {
  font-size: 50px;
}

/* Quem Sou */
#sobre_mim {
  display: flex;

  align-items: center;

  margin: auto;
  max-width: 90%;
}

#sobre_mim h1 {
  font-size: 60px;
  margin-bottom: 10%;

  text-transform: uppercase;
  text-align: center;
}

#sobre_mim p {
  text-align: justify;
  font-size: clamp(1em, 1em, 2em);
}

#sobre_mim h5 {
  margin-top: 15px;
  text-align: center;
}

#sobre_mim #quemsouimg {
  display: flex;
  align-items: center;
  text-align: center;
}

#sobre_mim #quemsouimg img {
  margin: 0 30px;

  border-radius: 50%;

  width: 100%;
  max-width: 400px;
  min-width: 300px;
  object-fit: scale-down;
  object-position: bottom;

  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/* portifólio*/

#portifolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 65px;
}

#portifolio h1 {
  display: block;
  justify-content: end;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;
}

#portifolio img {
  width: 265px;
  border-radius: 20%;

  transition: all 0.5s;
  border: 10px solid transparent;
}

#portifolio h3 {
  text-transform: uppercase;
  width: 300px;
  text-align: center;
  padding: 20px 0;
}

#portifolio h6 {
  width: 300px; /*250*/
  text-align: justify;
  font-size: clamp(8px, 10px, 13em);
}

#portifolio div#imgtext {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: start;
}

#portifolio #imgtext .porimgtext {
  padding: 0 15px 30px 15px;
  border: 3px solid #ffb923;
  border-radius: 50px;
  transition: all 0.5s;
  margin: 2%;
}

#portifolio #imgtext .porimgtext:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.19);
}

/*habilidades*/

#habilidades {
  margin-top: 65px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#habilidades h1 {
  text-align: center;
  text-transform: uppercase;
}
#habilidades h3 {
  text-align: center;
}

#habilidades #skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
  align-items: center;
}

#habilidades #skills #linguagens {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#habilidades #skills img {
  width: 10vh;
}

/**********efeito sanfona certificado **********/
.certificate-container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 0.5%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover {
  flex: 1 1 50%;
}
.box:hover > img {
  width: 100%;
  height: 100%;
}

/*links externos*/

#contato-section {
  margin: 65px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#contato-section h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#contato-section #contato-container {
  margin: 0 20px;
  padding: 30px;
  border: solid 3px #ffb923;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #000;
}

#contato-section #link-icon {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 30px;
}

#contato-section #link-icon img {
  width: 60px;
}

#contato-section label {
  padding: 5px 0;
}

#contato-section fieldset {
  border: none;
}

#contato-section #name-middlename {
  display: flex;
}

form {
  font-weight: bold;
}

#contato-section #nome,
#sobrenome {
  width: 90%;
  height: 1.3em;
  flex-direction: column;

  border: none;
  border-bottom: 2px #ffb923 solid;
}

#contato-section #contato,
#email,
#msg {
  border: none;
  height: 1.3em;
  border-bottom: 2px #ffb923 solid;
  width: 100%;
}

#contato-section #nome:focus,
#sobrenome:focus,
#contato:focus,
#email:focus,
#msg:focus {
  background-color: #ffb923;
  outline: 0;
  box-shadow: 1px 1px 5px rgb(139, 139, 139);
}

#contato-section .form-item {
  display: flex;
  flex-direction: column;
}

#contato-section #whatsapp-option {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#contato-section button {
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px 0;
  font-size: 17px;
  z-index: 1;
  color: #ffb923;
  border: 2px solid #ffb923;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}

#contato-section button::before {
  position: absolute;
  content: "";
  background: #ffb923;
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

#contato-section button:hover {
  color: #000000;
}

#contato-section button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

#contato-section button:hover::before {
  top: -30px;
  left: -30px;
}

/*Rodapé*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffb923;
  width: 100%;
  height: 60px;
}

footer #rodape {
  color: #ffffff;
}
