


* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body::-webkit-scrollbar {
    width: 5px;               
}
  
body::-webkit-scrollbar-track {
    background: #FFB923;        
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;    
    border-radius: 4px;       
    border: 1px solid #FFB923;  
}


/* navbar */

header nav {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navbar {
    background-color: #FFB923;
    /*menu fixo*/
    position: fixed;

    z-index: 1;

}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul img {
    width: 4rem;
    margin: 0 10px;
    border-top: 1000px;
}

header nav ul li {
    margin: 0 30px;
    list-style: none;
    text-transform: uppercase;
}

header nav ul li a {
    padding-left: 4px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

header nav ul li :hover {
    transition: all 0.2s;
    border-left: 0px solid transparent;

    border-left: 5px solid #ffffff;
    font-weight: bold;

}


/* Intro */
#intro {
    background-image: url(img/TonDev.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
}

#intro div#geralintro {
    height: 100vh;

    display: flex;
    flex-direction: column;

    color: #ffffff;

    align-items: center;
    justify-content: center;
}

#intro div#geralintro img {
    width: 10rem;
}

#intro div#geralintro h1 {
    font-size: 50px;
}

/* Quem Sou */
#sobre_mim {
    display: flex;

    align-items: center;

    margin: auto;
    max-width: 90%;

}

#sobre_mim h1 {

    font-size: 60px;
    margin-bottom: 10%;

    text-transform: uppercase;
    text-align: center;
}

#sobre_mim p {
    text-align: justify;
    font-size: clamp(1em, 1em, 2em);

}

#sobre_mim h5 {
    margin-top: 15px;
    text-align: center;
}

#sobre_mim #quemsouimg {
    display: flex;
    align-items: center;
    text-align: center;

}

#sobre_mim #quemsouimg img {
    padding: 0 30px;

    border-radius: 50%;

    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* portifólio*/

#portifolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    margin-top: 65px;
}

#portifolio h1 {
    display: block;
    justify-content: end;

    text-align: center;
    text-transform: uppercase;

    margin-bottom: 10px;
}

#portifolio img {
    width: 265px;
    border-radius: 20%;

    transition: all 0.5s;
    border: 10px solid transparent;
}

#portifolio h3 {
    text-transform: uppercase;
    width: 300px;
    text-align: center;
    padding: 20px 0;
}

#portifolio h6 {
    width: 300px;  /*250*/
    text-align: justify;
    font-size: clamp(8px, 10px, 13em);
    
}

#portifolio div#imgtext {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;


}

#portifolio #imgtext .porimgtext{

    padding: 0 15px 30px 15px;
    border: 3px solid #FFB923;
    border-radius: 50px;
    transition: all 0.5s;
    margin: 2%;
}

#portifolio #imgtext .porimgtext:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.19);
}


/*habilidades*/

#habilidades {
    margin-top: 65px ;

    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

#habilidades h1 {
    text-align: center;
    text-transform: uppercase;
}
#habilidades h3 {
    text-align: center;
}


#habilidades #skills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
    align-items: center;
}

#habilidades #skills #linguagens{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#habilidades #skills img{
    width: 10vh;
}


/**********efeito sanfona certificado**********/

.certificate-container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 0.5%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

  

/*links externos*/

#links {
    margin-top: 65px;
    align-items: center;

    display: flex;
    flex-direction: column;
   
}

#links h1 {
   /* border-top: 80px solid transparent;*/

    text-align: center;
    text-transform: uppercase;
}

#links #externos{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


#links #externos img{
    /*width: 200px;*/
    width: 100px;
}



/*Rodapé*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFB923;
    width: 100%;
    height: 60px;
}
    
footer #rodape{
        color: #ffffff;        
}