* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body::-webkit-scrollbar {
    width: 5px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #FFB923;        
  }

  body::-webkit-scrollbar-thumb {
    background-color: #ffffff;    
    border-radius: 4px;       
    border: 1px solid #FFB923;  
  }

/* navbar */

header nav {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navbar {
    background-color: #FFB923;
    /*menu fixo*/
    position: fixed;

    z-index: 2;

}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul img {
    width: 4rem;
    margin: 0 10px;
    border-top: 1000px;
}

header nav ul li {
    margin: 0 30px;
    list-style: none;
    text-transform: uppercase;
}

header nav ul li a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

header nav ul li :hover {
    transition: all 0.2s;
    border-left: 0px solid transparent;

    border-left: 5px solid #ffffff;
    font-weight: bold;

}

/* Intro */
section#intro {
    background-image: url(img/TonDev.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
}

section#intro div#geralintro {
    height: 100vh;

    display: flex;
    flex-direction: column;

    color: #ffffff;

    align-items: center;
    justify-content: center;
}

section#intro div#geralintro img {
    width: 10rem;
}

section#intro div#geralintro h1 {
    font-size: 50px;
}

/* Quem Sou */
#sobre_mim {
    max-width: 80vw;
    /*tamanho maximo da tela*/
    align-items: center;
    /*posição de tudo dentro dessa section*/

    background-color: #ffffff;
    background-size: cover;

    display: flex;
    overflow: hidden;
    /*não deixa as coisas passarem do tamanho*/

    margin-left: auto;
    margin-right: auto;

    justify-content: center;

    gap: 20px;
}

#sobre_mim #biografia {
    padding: 0 100px;
}

#sobre_mim h1 {
    font-size: 60PX;


    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;

    text-transform: uppercase;
    text-align: center;
}

#sobre_mim h3 {
    text-align: justify;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

#sobre_mim h5 {
    border-top: 15px solid transparent;
    text-align: center;
}

#sobre_mim div#quemsoutext {
    width: 50%;
}

#sobre_mim #quemsouimg {
    width: 50%;
}

#sobre_mim #quemsouimg img {
    max-height: 980px;
    height: 100rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* portifólio*/

#portifolio {
    background-color: #ffffff;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 80px;


/*
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: auto;
    margin-right: auto;
*/

    
}

#portifolio h1 {
    display: block;
    justify-content: end;

    text-align: center;
    text-transform: uppercase;
}

#portifolio img {
    width: 250px;
    border-radius: 20%;

    transition: all 0.5s;
    border: 10px solid transparent;
}

#portifolio img:hover {
    width: 250px;
    border-radius: 20%;

    -webkit-transform: scale(1.5);
    transform: scale(0.9);
}

#portifolio h3 {
    text-transform: uppercase;
    width: 250px;
    text-align: center;
    padding: 20px 0;
}

#portifolio h6 {
    width: 250px;
    text-align: justify;
}

#portifolio div#imgtext {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;
    height: 50vh;
}


/*linguagens*/

#linguagens {
    background-color: #ffffff;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    padding-top: 80px ;
}

#linguagens h1 {

    text-align: center;
    text-transform: uppercase;
}


#linguagens #lingimg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;

    height: 90vh;
    justify-content: center;
    
    
}

#linguagens #lingimg #lista1{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    
}

#linguagens #lingimg #lista2{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    
}

#linguagens #lingimg img{
    width: 200px;
}

/*links externos*/

#links {
    background-color: #ffffff;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    align-items: center;

    
}

#links h1 {
    border-top: 80px solid transparent;

    text-align: center;
    text-transform: uppercase;
}

#links #externos{

    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;

    height: 90vh;
    align-items: center;

    max-width: 80vh;
    margin-left: auto;
    margin-right: auto;


}

#links #externos img{
    width: 200px;
}

/*Rodapé*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFB923;
    width: 100%;
    height: 50px;
}
    
footer #rodape{
        color: #ffffff;        
}


  