@media (max-width:800px) {

    header nav {
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    #navbar {
        background-color: #FFB923;
        bottom: 0;
        position: fixed;
        z-index: 1;
        height: 5%;
    }

    header nav ul {
        display: flex;
        text-align: center;
        height: 100%;
    }

    header nav ul img {
        width: 0rem;
    }

    header nav ul li {
        margin: 0;
        list-style: none;
        text-transform: uppercase;
    }

    header nav ul li a {
        padding-left: 3px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
    }

    
}

@media(max-width: 800px){

    #sobre_mim {
        display: flex;
        flex-direction: column;
    
    }

    #sobre_mim #quemsouimg img {
        padding: 40px 0 0 0;
        height: 400px;
    }

}