@media (max-width: 767px) {
  body {
    padding-bottom: 35px;
    padding-bottom: 0px;
  }

  #H-Pc {
    display: none;
  }

  #H-Mobile {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #ffb923;
    position: fixed;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  #H-Mobile img {
    width: 4rem;
  }

  #ul-mobile li {
    list-style: none;
    text-transform: uppercase;
  }

  #ul-mobile li a {
    text-decoration: none;
    color: #fff;
  }

  /*intro*/

  #intro {
    display: flex;
  }

  #intro h1 {
    font-size: 2.5em;
  }

  #intro h3 {
    font-size: 1em;
  }

  #intro #polygonName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin-top: 10em;
    margin-left: 0;
  }

  #intro img {
    margin-right: 0;
    width: 10em;
  }

  #intro #polygonLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    margin-top: 10em;
  }

  /*sobre mim*/
  #sobre_mim {
    display: flex;
    flex-direction: column;
  }

  #sobre_mim #quemsouimg img {
    padding: 40px 0 0 0;
    height: 400px;
  }

  /*portfolio*/

  #portifolio h1 {
    margin-bottom: 10%;
  }

  #portifolio img {
    width: 180px;
    height: 180px;
  }

  #portifolio h3 {
    width: 180px; /*não funciona ainda*/
  }

  #portifolio h6 {
    width: 180px; /*não funciona ainda*/
  }

  #portifolio #imgtext .porimgtext {
    height: 20em;

    transition: all 0.5s;
  }

  #portifolio #imgtext .porimgtext:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1);
  }
}
