@media (max-width: 20px) {
  body {
    padding-bottom: 35px;
    padding-bottom: 5px;
  }

  header #navbar {
    display: none;
  }

  #ul-desktop {
    display: none;
  }

  #navbar-mobile {
    background-color: #ffb923;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    justify-content: center;
    display: flex;
  }

  #navbar-mobile #ul-mobile li {
    gap: 0;
    align-items: center;
    margin: 3px 1rem;
  }

  #navbar-mobile #ul-mobile img {
    width: 3.5rem;
    margin: 0 0.2rem;
  }

  #navbar-mobile #ul-mobile .navblack {
    width: 2rem;
    filter: invert(100%);
  }

  header nav ul li :hover {
    transition: all 0s;
    border-left: 0px solid transparent;
    border-left: 0px solid #ffffff;
    font-weight: bold;
  }

  #intro {
    display: flex;
  }

  #sobre_mim {
    display: flex;
    flex-direction: column;
  }

  #sobre_mim #quemsouimg img {
    padding: 40px 0 0 0;
    height: 400px;
  }

  #portifolio h1 {
    margin-bottom: 10%;
  }

  #portifolio #imgtext .porimgtext {
    transition: all 0.5s;
  }

  #portifolio #imgtext .porimgtext:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1);
  }
}
